name: Build and deploy (release) app to server

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    concurrency:
      group: build-${{ github.ref }} # wait for previous build to finish

    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Get current date in Warsaw timezone
        id: build_date
        run:
          echo "BUILD_DATE=$(date '+%Y-%m-%d %H:%M' --date="$(TZ="Europe/Warsaw" date)")" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew build --no-daemon --info -Pversion="v${{ github.run_number }}/${{ env.BUILD_DATE }}"

      - name: Setup SSH keys
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan ${{ secrets.HOST }} >> ~/.ssh/known_hosts

      - name: Upload artifact
        run: scp build/libs/app.jar ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/app/jars/tgbot.jar

      - name: Build docker image
        run: ssh ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'docker compose -f ${{ secrets.DOCKERFILE }} build tgbot'

      - name: Update docker container
        run: ssh ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'docker compose -f ${{ secrets.DOCKERFILE }} up -d tgbot'
